
  <div class="cards-grid">
    <% @cabins.each do |cabin| %>
    <%= link_to cabin_path(cabin.id) do %>
    <div class="card-cabin">
      <div class="card-cabin-image">
        <%= image_tag cabin.photos.first, height: 300, width: 400, crop: :fill %>
        <h4 class="card-cabin-price"><%= cabin.price_per_night %> €</h4>
      </div>
      <h5 class="card-cabin-localisation"><%= cabin.localisation %></h5>
    </div>
    <% end %>
    <% end %>
  </div>

