

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1584789663619-8e9d483ec820?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1346&q=80);">
  <div class="container">
    <h1>La référence des <strong>cabanes perchées</strong>!</h1>
    <p>Des centaines de cabanes à découvrir dans toute la France</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" placeholder="Loire, Auvergne, Bourgogne ..." type="text" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Rechercher
        </button>
      </div>
    <% end %>
  </div>
</div>


<div class="container text-center mt-5">
  <i>Nos coups de coeur perchés <i class="fas fa-heart mb-5"></i></i>
  <div class="cards">
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1509441857563-d2b146b3a408?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80" />
      <div class="card-trip-infos">
        <div class="text-left">
          <h2>La Cabine de Magalie</h2>
          <p>Perchée au sommet</p>
        </div>
        <h2 class="card-trip-pricing">109.99€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/Magalie13" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1453306458620-5bbef13a5bca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
      <div class="card-trip-infos">
        <div class="text-left">
          <h2>La Cabine de Mokhtar</h2>
          <p>Un petit coin de paradis</p>
        </div>
        <h2 class="card-trip-pricing">79.99€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/moktab10" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1542318419-d500cb6a3da3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
      <div class="card-trip-infos">
        <div class="text-left">
          <h2>La Cabine de Vincent</h2>
          <p>Offrez un week-end à votre moineau</p>
        </div>
        <h2 class="card-trip-pricing">9.99€</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/vincentbizet" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>
  <p class="my-5"><i>Pour vous inspirer ...</i></p>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1464723775205-4af28be57d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80)">
    Mer et cocktails
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1509728628963-c39e0e38d32d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1323&q=80)">
    Lac et calme
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1527236767782-6820249d9ea0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)">
    Nature et randonnées
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1466737006012-747389d9ca92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80)">
    Montagne et génépi
  </div>
</div>


