.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 5px;
}

.card-category:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card-form {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 70px 35px 35px 35px;
}

.title-add {
  margin-bottom: 50px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

