.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category:hover {
  opacity: 0.8;
  cursor: pointer;
}

.grid-css {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px
}

.card-form {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 70px 35px 35px 35px;
}

.title-add {
  margin-bottom: 50px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}


.cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.card-cabin {
  background-color: white;
  box-shadow:       1px 1px 3px rgba(0,0,0,0.2);
  padding:          10px;
  margin:           20px;
  border-radius:    5px;
  color:            #666666;
}

.card-cabin:hover {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
}

.card-cabin-image img {
  border-radius: 5px;
}

.card-cabin-price {
  color:    black;
  bottom:   0;
  right:    10px;
}

.card-cabin-localisation {
  padding: 10px;
}
